:root {
    --font-family-text-redesigned: roboto, sans-serif;
    --font-family-title-redesigned:  "Nunito Sans", sans-serif;
    --font-family-main: consolas, monaco, monospace;

    // S
    --font-size-sm: 14px;
    --font-line-sm: 22px;
    --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);

    // M
    --font-size-md: 16px;
    --font-line-md: 24px;
    --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family-main);

    // L
    --font-size-lg: 24px;
    --font-line-lg: 32px;
    --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family-main);

    // XL
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // S REDESIGNED
    --font-sm-redesigned: var(--font-size-sm) / var(--font-line-sm) var(--font-family-text-redesigned);
 
    // M REDESIGNED
    --font-md-redesigned: var(--font-size-md) / var(--font-line-md) var(--font-family-text-redesigned);
 
    // L REDESIGNED
    --font-lg-redesigned: var(--font-size-lg) / var(--font-line-lg) var(--font-family-text-redesigned);
 
    // XL REDESIGNED
    --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-text-redesigned);
 

    // SIZES
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // z - INDEXES
    --modal-z-index: 10000;
    --overlay-z-index: 100;
    --sidebar-z-index: 10;

    // COLORS
    --overlay-bg-color: rgb(0 0 0 / 60%);
    --red-light: #f22;
    --red-dark: #9d0c0c;

    // GAP
    --gap-xs: 8px;
    --gap-sm: 8px;
    --gap-md: 16px;
    --gap-lg: 32px;

    // PADDING
    --padding-xs: 4px;
    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 24px;
}

// BREAKPOINTS
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// GRID
@media screen and (min-width: $bp-xs) {
    :root {
        --grid-columns: 1;
    }
}

@media screen and (min-width: $bp-lg) {
    :root {
        --grid-columns: 2;
    }
}

@media screen and (min-width: $bp-xl) {
    :root {
        --grid-columns: 3;
    }
}
