:root {
    --font-family-main: consolas, monaco, monospace;
    --font-size-s: 14px;
    --font-line-s: 22px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // SIZES
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // z - INDEXES
    --modal-z-index: 10;

    // COLORS
    --overlay-bg-color: rgb(0 0 0 / 60%);
    --red-light: #f22;
    --red-dark: #9d0c0c;

    // GAP
    --gap-xs: 8px;
    --gap-sm: 8px;
    --gap-md: 16px;
    --gap-lg: 32px;

    // PADDING
    --padding-xs: 4px;
    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 24px;
}

// BREAKPOINTS
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// GRID
@media screen and (min-width: $bp-xs) {
    :root {
        --grid-columns: 1;
    }
}

@media screen and (min-width: $bp-lg) {
    :root {
        --grid-columns: 2;
    }
}

@media screen and (min-width: $bp-xl) {
    :root {
        --grid-columns: 3;
    }
}
