.ArticleList {

}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--gap-l)
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
}
