.ArticleList {

}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--gap-lg)
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
}
