.ListBox {
    position: relative;
}

.button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    position: absolute;
    z-index: 10000;
    background: var(--listbox-bg);
    border-radius: var(--border-radius-sm);
    border: none;
    box-shadow: 0 4px 10px 0 var(--listbox-bg);
}

.item {
    padding: var(--padding-xs) var(--padding-sm);
    background: var(--listbox-bg);
}

.active {
    background: var(--inverted-bg-color);
}