.EditableProfileCardHeader {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttonsBlock {
    display: flex;
    gap: 10px;
}
