.app_dark_theme {
    --bg-color: #050557;
    --inverted-bg-color: #e8e8e8;
    --primary-color: #ffad00;
    --secondary-color: #ffbe35;
    --inverted-primary-color: #073bcc;
    --inverted-secondary-color: #072ea1;

    // redesigned
    --bg-color-redesigned: #0c1214;
    --dark-bg-color-redesigned: #0c1214;
    --light-bg-color-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-shadow: #9b6900;
    --skeleton-color: #ffad00;

    // code
    --code-bg: #0c0cc4;

    // card
    --card-bg: #0c0ce1;

    // listbox
    --listbox-bg: #0c0ce1;
}
