.app_dark_theme {
    --bg-color: #050557;
    --inverted-bg-color: #e8e8e8;
    --primary-color: #FFAD00;
    --secondary-color: #FFBE35;
    --inverted-primary-color: #073bcc;
    --inverted-secondary-color: #072ea1;

    // skeleton
    --skeleton-shadow: #9B6900;
    --skeleton-color: #FFAD00;

    // code
    --code-bg: #0c0cc4;
}
