:root {
    --bg-color: #e8e8e8;
    --inverted-bg-color: #050557;
    --primary-color: #073bcc;
    --secondary-color: #072ea1;
    --inverted-primary-color: #ffad00;
    --inverted-secondary-color: #ffbe35;

    // redesigned
    --bg-color-redesigned: #fff;
    --dark-bg-color-redesigned: #eff5f6;
    --light-bg-color-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00cbff;

    // skeleton
    --skeleton-shadow: #777;
    --skeleton-color: #fff;

    // code
    --code-bg: #fff;

    // card
    --card-bg: #cecece;

    // listbox
    --listbox-bg: #cecece;
}
