:root {
    --bg-color: #e8e8e8;
    --inverted-bg-color: #050557;
    --primary-color: #073bcc;
    --secondary-color: #072ea1;
    --inverted-primary-color: #00f300;
    --inverted-secondary-color: #018a01;
}
