.app.light {
    --bg-color: #e8e8e8;
    --inverted-bg-color: #050557;
    --primary-color: #041c65;
    --secondary-color: #0533b4;
    --inverted-primary-color: #00a800;
    --inverted-secondary-color: #00ef00;
}
