.app_red_theme {
    --bg-color: #fbf4f4;
    --inverted-bg-color: #d9519b;
    --primary-color: #c6006c;
    --secondary-color: #95e400;
    --inverted-primary-color: #95e400;
    --inverted-secondary-color: #c6006c;

    // skeleton
    --skeleton-shadow: #7a0043;
    --skeleton-color: #5c8d00;

    // code
    --code-bg: #fff;

    // card
    --card-bg: #858585;

    // listbox
    --listbox-bg: #858585;
}
