.app_red_theme {
    --bg-color: #fbf4f4;
    --inverted-bg-color: #d9519b;
    --primary-color: #c6006c;
    --secondary-color: #95e400;
    --inverted-primary-color: #95e400;
    --inverted-secondary-color: #c6006c;

    // redesigned
    --bg-color-redesigned: #fff3d6;
    --dark-bg-color-redesigned: #f0C048;
    --light-bg-color-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-shadow: #7a0043;
    --skeleton-color: #5c8d00;

    // code
    --code-bg: #fff;

    // card
    --card-bg: #858585;

    // listbox
    --listbox-bg: #858585;
}
