.app_red_theme {
    --bg-color: #FBF4F4;
    --inverted-bg-color: #D9519B;
    --primary-color: #C6006C;
    --secondary-color: #95E400;
    --inverted-primary-color: #95E400;
    --inverted-secondary-color: #C6006C;

    // skeleton
    --skeleton-shadow: #7A0043;
    --skeleton-color: #5C8D00;

    // code
    --code-bg: #FFF;

    // card
    --card-bg: #858585;

    // listbox
    --listbox-bg: #858585;
}
