.Icon {
    fill: var(--primary-color);

    & path {
        fill: var(--primary-color)
    }
}

.inverted {
    fill: (var--inverted-primary-color);

    & path {
        fill: var(--inverted-primary-color);
    }
}
