.ArticleViewSelector {
    fill: var(--text-redesigned);
    cursor: pointer;
    font-size: var(--font-size-lg);
    background-color: var(--light-bg-color-redesigned);
}

.notSelected {
    fill: var(--hint-redesigned);
}
