.Card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.normal {
    background: var(--dark-bg-color-redesigned);
}

.light {
    background: var(--light-bg-color-redesigned);
}

.outlined {
    background: none;
    border: 1px solid var(--accent-redesigned);
}

.none {
    padding: 0;
}

.sm {
    padding: var(--padding-sm);
}

.md {
    padding: var(--padding-md);
}

.lg {
    padding: var(--padding-lg);
}

.border-normal {
    border-radius: 12px;
}


.border-round {
    border-radius: 40px;
}