.Dropdown {
    position: relative;
}

.button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.items {
    background: var(--listbox-bg);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 10px 0 var(--listbox-bg);
    overflow: hidden;
}

.item {
    padding: var(--padding-xs) var(--padding-sm);
    width: 100%;
    border: none;
    outline: none;
    color: var(--primary-color);
    background: none;
    cursor: pointer;
}

.active {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}


