.title {
    color: var(--primary-color);
}

.text {
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-secondary-color);
    }
}

.sizeS {
    .title {
        font: var(--font-md);
    }

    .text {
        font: var(--font-sm);
    }
}

.sizeM {
    .title {
        font: var(--font-lg);
    }

    .text {
        font: var(--font-md);
    }
}

.sizeL {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-lg);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
